In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 實作:adult資料集

In [2]:
names = ['age','workclass','fnlwgt','education','education-num','marital-status','occupatioon','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']
data = pd.read_csv('C:/Users/jason/OneDrive/桌面/SCU/adult.csv',header = None, names=names)
df = data[['age','sex','hours-per-week','education','income']]
          
df.info()
          
df.describe()
          
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   sex             32561 non-null  object
 2   hours-per-week  32561 non-null  int64
 3   education       32561 non-null  object
 4   income          32561 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.2+ MB

   age      sex  hours-per-week   education  income
0   39     Male              40   Bachelors   <=50K
1   50     Male              13   Bachelors   <=50K
2   38     Male              40     HS-grad   <=50K
3   53     Male              40        11th   <=50K
4   28   Female              40   Bachelors   <=50K

# 決策樹

* 有較高同質性的節點，代表分割結果愈好

* 節點的不純度愈低愈好

## gini基尼係數

* 適用於數據維度大，噪音很大的數據

* 傾向包含多個值的屬性

* 挑選擁有最大不純度降低值或gini係數最小的屬性來分割

## 訊息獲利

* 趨向包含多個值的屬性

## 獲利比率

* 兩邊分割的比率會非常不平均

In [5]:
from sklearn.tree import DecisionTreeClassifier

In [3]:
data_dummies = pd.get_dummies(df, drop_first = True) #get_dummies:類別轉標籤;drop_first:刪除第一個類別值
data_dummies.info()
X = data_dummies.iloc[:,:-1].values
y = data_dummies.iloc[:,-1].values
tree = DecisionTreeClassifier(criterion = 'gini',random_state=1,max_depth = 5) #criterion為指標
tree.fit(X,y)
print('score',tree.score(X,y)) #tree.score為正確率

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      32561 non-null  int64
 1   hours-per-week           32561 non-null  int64
 2   sex_ Male                32561 non-null  uint8
 3   education_ 11th          32561 non-null  uint8
 4   education_ 12th          32561 non-null  uint8
 5   education_ 1st-4th       32561 non-null  uint8
 6   education_ 5th-6th       32561 non-null  uint8
 7   education_ 7th-8th       32561 non-null  uint8
 8   education_ 9th           32561 non-null  uint8
 9   education_ Assoc-acdm    32561 non-null  uint8
 10  education_ Assoc-voc     32561 non-null  uint8
 11  education_ Bachelors     32561 non-null  uint8
 12  education_ Doctorate     32561 non-null  uint8
 13  education_ HS-grad       32561 non-null  uint8
 14  education_ Masters       32561 non-null  uint8
 15  education_ Preschool     32561 non-null  uint8
 16  education_ Prof-school   32561 non-null  uint8
 17  education_ Some-college  32561 non-null  uint8
 18  income_ >50K             32561 non-null  uint8
dtypes: int64(2), uint8(17)
memory usage: 1.0 MB
score 0.7876907957372317

In [6]:
import graphviz
from sklearn.tree import export_graphviz
from pydotplus import graph_from_dot_data

In [4]:
dot_data = export_graphviz(tree, filled = True,
                          rounded = True,
                          class_names = data_dummies.iloc[:,-1].name,
                          out_file=None) #filled(填充)、rounded(美化圖形)、classname必須為str且要排序
graph = graph_from_dot_data(dot_data)
graph.write_png('tree.png')

True

## 優點: 

* 簡單、容易解讀（易視覺化）

## 缺點:
* 不穩定性:資料出現些許變動，可能就會得到不同的決策樹

* 容易出現 overfitting 

* 不準確性：⼀開始時使⽤不太好的分割，可能會產⽣更好的預測