In [4]:
import pandas as pd
import numpy as np

# 讀取 CSV、Html 檔案

df = pd.read_html("網址")

df = pd.read_ccsv("檔案路徑")

# dataframe

df.info():表格的資訊

df.shape:表格列數與欄數

df.columns:欄位名稱

df.index:index

df.head(n):前n筆資料，預設為5筆

df.tail(n):後n筆資料，預設為5筆

df.describe():各類統計資料(數值型/非數值型皆可用)

df.corr():計算相關係數，可用axis

df.value_counts():計算一個Series中各值出現的頻率

# 資料選取

df[‘欄位名’]/df.欄位名:選取欄的元素

df.loc():根據行、列標籤來選取(index的名稱)

df.iloc():根據索引值來選取(index的位置)

df.min()、idxmin()、max()、idxmax():挑最小值、最大值與最小、最大值的index

df.isin('要找的')：可用於選取Series或df列中資料的子集

# 設定、修改index

df.set_index('欄位名稱', inplace=True) 

inplace是詢問是否取代舊df，預設是false

df.index = ['要改的名稱',...] 用逗號隔開

df.index.is_unique可判斷該index值是否只有一種

# 資料排序

df.sort_index() 

axis是指定以0(以行為基準合併)或1(以列為基準合併)的索引值排序

df.sort_values()

by指定排序欄位，ascending指定升冪或降冪(False)排序

df.rank()

為各組分配一個平均排名(從小排到大)，可加入method選方法(e.x.first照順序)axis選依行/列排名

In [17]:
df=pd.DataFrame({'a':[0,1,0,1],'b':[4.5,7,-3,2],'c':[-2,5,6,-2.5]})
df.rank(axis=1)

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0

# 資料合併

df=pd.concat()	

obs：合併對象、axis：合併方向，預設為0、join：{inner，outer}：合併方式，默認為outer，表示聯集、join_axes: 按哪些對象的index保存、ignore_index :{False,True},是否忽略原index，預設為False、keys：為原始dataframe添加一個鍵。

df.append()

df=pd.merge()  

on為要合併的key、how為merge方法、left為留下左表所有資料、right為右表、inner為留下共有、outer為留下全部。

df.join():用法跟merge差不多

df.combine_first()  

可用()內的df值填補前面df的缺失值

In [30]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2], keys=['s1', 's2',],names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [39]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],columns=['animal', 'name'])
df1 = pd.DataFrame([['a', 1], ['b', 2]],columns=['letter', 'number'])
pd.concat([df1, df4], axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

In [49]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8],[9,10]], columns=list('AB'))
df.append(df2,ignore_index=True)

   A   B
0  1   2
1  3   4
2  5   6
3  7   8
4  9  10

In [8]:
df1=pd.DataFrame({'key':['a','b','c','d','e'],'data1':np.arange(5)}) #data直接用arrange產數字
df2=pd.DataFrame({'key':['a','b','c'],'data2':np.arange(3)})
df3=pd.DataFrame({'key':['a','b','c','d'],'data3':np.arange(4)})
data=pd.merge(pd.merge(df1,df2,on='key',how='left'),df3,on='key',how='left')
data

  key  data1  data2  data3
0   a      0    0.0    0.0
1   b      1    1.0    1.0
2   c      2    2.0    2.0
3   d      3    NaN    3.0
4   e      4    NaN    NaN

In [14]:
df1 = pd.DataFrame([[1, np.nan]])
df2 = pd.DataFrame([[3, 4]])
df1.combine_first(df2)

   0    1
0  1  4.0

# 資料刪除

del df[‘欄名’]:刪除單行(直接修改df)

df.drop([‘欄名’, ...], axis=1):刪除多行，axis=1為刪除行，axis=0為刪除列。(不會直接修改df，加入inplace=True才會修改df)

# 缺失值處理

df.isnull():判斷是否為空值
    
df.notnull():判斷是否不為空值
    
df.dropna():刪除有NaN(缺失值)的列，axis=1則刪掉整行；thresh=：保留至少幾個非空值的行
    
df.fillna(value=):將NaN填入值

# 資料分群

sector = df.groupby(by=‘欄位名’):以欄位名分群，後面可加入sum、count、mean等要算的函式
    
sector.size():每個群的大小
    
sectors.get_group(‘A’):取出欄位名為’A’的資料

# 轉excel檔

df.to_excel('檔名.xls')